@{
    ViewBag.Title = "Cửa hàng Nước mắm Bà Hai";
    ViewBag.SeoDescription = "Cửa hàng Nước mắm Bà Hai";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->

<div class="main_slider" style="background-image:url(Content/assets/images/banner1.png)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <img src="~/Content/assets/images/banner2.png" alt="Banner Image" class="banner-text" style="width: 100%; padding-bottom: 10px; padding-top: 100px;">
                    <h6 class="banner-text">Tự hào truyền thống Việt</h6>
                    <span class="des-about-item banner-text">Nước mắm Bà Hai là một trong những thương hiệu nước mắm truyền thống đáng tin cậy và nổi tiếng tại Phan Thiết, không chỉ được tin dùng bởi chính người dân địa phương nơi đây mà còn biết bao khách thập phương đến Phan Thiết.</span>
                </div>
                <ul class="room-utilities">

                    <li class="item-room-utilities">
                        <div class="img-utilities">
                            <img src="~/Content/assets/images/tc1.png" alt="Độ đạm cao và Tự nhiên" style="padding-top: 80px;">
                        </div>
                        <h4 style=" padding-top:80px;">Độ đạm cao và Tự nhiên</h4>
                    </li>

                    <li class="item-room-utilities">
                        <div class="img-utilities">
                            <img src="~/Content/assets/images/tieuchi2.png" alt="Hương vị đậm đà" style=" padding-top:80px;">
                        </div>
                        <h4 style=" padding-top: 80px;">Hương vị đậm đà</h4>
                    </li>

                    <li class="item-room-utilities">
                        <div class="img-utilities">
                            <img src="~/Content/assets/images/tc3.png" alt="Hương thơm đặc trưng" style=" padding-top: 80px;">
                        </div>
                        <h4 style=" padding-top: 80px;">Hương thơm đặc trưng</h4>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
@Html.Action("MenuProductCategory", "Menu")

<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        @Html.Action("MenuArrivals", "Menu")
    </div>
</div>

<!-- Deal of the week -->
<!--<div class="deal_ofthe_week">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    <img src="~/Content/assets/images/back-quytrinh.png" alt="">
                </div>
            </div>-->
@*<div class="col-lg-6 text-right deal_ofthe_week_col">
        <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
            <div class="section_title">
                <h2>Deal Of The Week</h2>
            </div>
            <ul class="timer">
                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                    <div id="day" class="timer_num">03</div>
                    <div class="timer_unit">Day</div>
                </li>
                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                    <div id="hour" class="timer_num">15</div>
                    <div class="timer_unit">Hours</div>
                </li>
                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                    <div id="minute" class="timer_num">45</div>
                    <div class="timer_unit">Mins</div>
                </li>
                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                    <div id="second" class="timer_num">23</div>
                    <div class="timer_unit">Sec</div>
                </li>
            </ul>
            <div class="red_button deal_ofthe_week_button"><a href="#">shop now</a></div>
        </div>
    </div>*@
<!--</div>
    </div>
</div>-->
<section class="sec-procedure">
    <div class="wp-procedure">
        <div class="container">
            <div class="top-procedure">
                <img src="~/Content/assets/images/nameQuytrinh.png" alt="">
            </div>
            <ul class="list-procedure">

                <li class="item-procedure">
                    <div class="img-procedure">
                        <img src="~/Content/assets/images/ca.png" s alt="Chọn cá">
                    </div>
                    <h4>Chọn cá</h4>
                    <span class="content-procedure">Cá Cơm được chọn lọc kỹ lưỡng để cho ra nước mắm có độ đạm cao</span>
                </li>

                <li class="item-procedure">
                    <div class="img-procedure">
                        <img src="~/Content/assets/images/muoi.png" alt="Chọn muối">
                    </div>
                    <h4>Chọn muối</h4>
                    <span class="content-procedure">Muối được lấy từ vựa muối tinh khiết mang về trữ trong kho khoảng 6 tháng</span>
                </li>

                <li class="item-procedure">
                    <div class="img-procedure">
                        <img src="~/Content/assets/images/thungca.png" s alt="Trộn cá và muối">
                    </div>
                    <h4>Trộn cá và muối</h4>
                    <span class="content-procedure">Cá cơm tươi sau khi đánh bắt được sơ chế và trộn muối ngay trên tàu</span>
                </li>

                <li class="item-procedure">
                    <div class="img-procedure">
                        <img src="~/Content/assets/images/dongchai.png" alt="Ủ chượp">
                    </div>
                    <h4>Ủ chượp</h4>
                    <span class="content-procedure">
                        Cá cơm ướp muối được ủ chượp 100% bằng thùng gỗ từ 10 đến 12 tháng.
                        Đối với mắm lú thời gian ủ chượp lâu hơn từ 24- 36 tháng.
                    </span>
                </li>

            </ul>
        </div>
    </div>
</section>
<!-- góc bếp -->
<div class="wp-handbook">
    <div class="container">
        <div class="top-handbook">
            <h5 class="title-handbook">Góc bếp</h5>
            <span class="content-handbook">
               Các món ăn ngon, dễ làm cho mọi người và cho mọi nhà
            </span>
        </div>

        <ul class="list-handbook">

            <a href="#">
            <li class="item-handbook">
                <div class="wp-img-handbook">
                    <img src="~/Content/assets/images/occmongchan.png"s alt="5 món ăn cực ngon làm từ cá đuối">
                    <h6 class="title-item-handbook">
                        Cá lồi xối mỡ được nhiều tín đồ ẩm thực yêu thích

                    </h6>
                </div>
            </li>
            </a>

            <a href="#">
            <li class="item-handbook">
                <div class="wp-img-handbook">
                    <img src="~/Content/assets/images/tomhum.png" alt="Cách kho cá nục sốt cà ngon">
                    <h6 class="title-item-handbook">Cá nục kho cà chua</h6>
                </div>
            </li>
            </a>

            <a href="#">
            <li class="item-handbook">
                <div class="wp-img-handbook">
                    <img src="~/Content/assets/images/cathu.png" alt="Gợi Ý Món Ăn Từ Cá Bông Lau">
                    <h6 class="title-item-handbook">Canh Chua Cá Lóc Miền Tây</h6>
                </div>
            </li>
            </a>

            <a href="#">
            <li class="item-handbook">
                <div class="wp-img-handbook">
                    <img src="~/Content/assets/images/gacchien.png" alt="Top 5 cách chế biến gà ta (Ăn cơm và đãi tiệc đều được)">
                    <h6 class="title-item-handbook">Đùi gà nướng cay bằng nồi chiên không dầu </h6>
                </div>
            </li>
            </a>

            <a href="#">
            <li class="item-handbook">
                <div class="wp-img-handbook">
                    <img src="~/Content/assets/images/khumuitanh.png" alt="Tuyệt chiêu khử mùi tanh cá">
                    <h6 class="title-item-handbook">Tuyệt chiêu khử mùi tanh cá</h6>
                </div>
            </li>
            </a>

            <a href="#">
            <li class="item-handbook">
                <div class="wp-img-handbook">
                    <img src="~/Content/assets/images/laude1.png" alt="5 cách chế biến tôm càng xanh thành món ăn hấp dẫn">
                    <h6 class="title-item-handbook">Chế biến với thịt dê tươi thành món ăn hấp dẫn</h6>
                </div>
            </li>
            </a>


        </ul>
    </div>




    <div class="banner-default">

        <a href="">
            <img src="~/Content/assets/images/MINI BANNER1.png" alt="..">
        </a>

    </div>

</div>


<!-- Best Sellers -->
@Html.Action("Partial_ProductSales", "Products")

<footer>
    <div class="middle">
        <div class="container clearfm">
            <div class="left infocompany">
                <div class="title-footer">
                    <span>
                        Công ty TNHH Nước mắm Bà Hai
                    </span>
                </div>
                <div class="text-footer">
                    <div>
                        67 Nguyễn Thông, P. Phú Hài, Phan Thiết, Bình Thuận
                    </div>
                    <div>
                        &nbsp;130 Tôn Đức Thắng, Phú Thủy, Phan Thiết,Bình Thuận
                    </div>
                    <div>
                        (0252) 3 812 103 - Hotline: 0918 591 224
                    </div>
                    <div>
                        &nbsp;098 430 1577 - 098 495 1705
                    </div>
                    <div>
                        &nbsp;Email: nuocmambahai.phanthiet@gmail.com
                    </div>
                    <div>
                        &nbsp;Website: www.nuocmambahai.com
                    </div>

                </div>
            </div>
            <div class="right">
                <div class="menu-footer menu1">
                    <div class="title-footer">Sản phẩm</div>
                    <ul class="text-footer">

                        <li>
                            <a href="/san-pham/mam-lu-64.html">
                                Mắm lú
                            </a>
                        </li>

                        <li>
                            <a href="/san-pham/mam-nhi-dac-biet-65.html">
                                Mắm nhĩ đặc biệt
                            </a>
                        </li>

                        <li>
                            <a href="/san-pham/mam-ruoc-66.html">
                                Mắm ruốc
                            </a>
                        </li>

                        <li>
                            <a href="/san-pham/mam-tom-67.html">
                                Mắm tôm
                            </a>
                        </li>

                        <li>
                            <a href="/san-pham/mam-nem-78.html">
                                Mắm Nêm
                            </a>
                        </li>

                        <li>
                            <a href="/san-pham/nhom-gia-vi-77.html">
                                Nhóm gia vị
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="menu-footer menu2">
                    <div class="title-footer">Thông tin</div>
                    <ul class="text-footer">

                        <li>
                            <a href="/the-loai-chinh-sach-thanh-toan-69.html">
                                Chính sách thanh toán
                            </a>
                        </li>

                        <li>
                            <a href="/the-loai-chinh-sach-van-chuyen-70.html">
                                Chính sách vận chuyển
                            </a>
                        </li>

                        <li>
                            <a href="/the-loai-chinh-sach-doi-tra-71.html">
                                Chính sách đổi trả
                            </a>
                        </li>

                        <li>
                            <a href="/the-loai-chinh-sach-bao-hanh-72.html">
                                Chính sách bảo hành
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="menu-footer menu3">
                    <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/nuocmamBaHaiPT/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=271&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FnuocmamBaHaiPT%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width="><span style="vertical-align: bottom; width: 271px; height: 130px;"><iframe name="fe3a0f4800c3f013d" width="1000px" height="1000px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v12.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dff7e6418f59486877%26domain%3Dnuocmambahai.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fnuocmambahai.com%252Fff8969064ce55584d%26relation%3Dparent.parent&amp;container_width=271&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FnuocmamBaHaiPT%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=" style="border: none; visibility: visible; width: 271px; height: 130px;" class=""></iframe></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="container clearfm">
            <div class="left text">
                <div>
                    © Copyright 2024. All Rights Reserved.
                </div>
                <div>Thiết kế bởi <a href="https://www.facebook.com/19thag4/" target="_blank">Đăng Duy.</a>
            @*<div class="right">
                <div class="visitor left">
                    <i class="far fa-chart-bar"></i> Lượt khách quan tâm:
                    <strong>
                        504548
                    </strong>
                </div>*@
                @*<div class="right socal-link">
                    <a id="ctl00_Footer_hplFacebook" href="https://www.facebook.com/nuocmamBaHaiPT/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>*@
                    @*<a id="ctl00_Footer_hplTwitter" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a id="ctl00_Footer_hplGooglePlus" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a id="ctl00_Footer_hplYoutube" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>*@
                </div>
            </div>
        </div>

    </div>


</footer>
<!-- Benefit -->



<!-- Blogs -->
@Html.Action("Partial_News_Home", "News")