
@{
    ViewBag.Title = "Liên hệ";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<link rel="stylesheet" href="~/Content/assets/styles/contact_style.css">


<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="#">Liên hệ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    <div class="wrapper-bodycontact">
        <div class="heading-pageDetail d-none"><div class="container"><h1>Liên lạc</h1></div></div>
        <div class="wrapbox-content-contact">
            <div class="container pd-top">
                <div class="row widthContent">
                    <div class="col-lg-6 col-md-12 col-12 wrapbox-content-left">
                        <div class="box-info-contact">
                            <h2>Thông tin liên hệ</h2>
                            <div class="wrapbox-contact">
                                <ul class="infoList-contact row">
                                    <li class="col-md-12 col-xs-12">
                                        <span><i class="fa fa-map-marker"></i></span>
                                        <p>
                                            <strong>Địa chỉ</strong><br>67 Nguyễn Thông, Phú Hài, Thành phố Phan Thiết, Bình Thuận
                                        </p>
                                    </li>
                                    <li class="col-md-12 col-xs-12">
                                        <span><i class="fa fa-phone"></i></span>
                                        <p><strong>Điện thoại</strong><br>0918591224</p>
                                    </li>
                                </ul>
                                <ul class="infoList-contact row">
                                    <li class="col-md-12 col-xs-12">
                                        <span><i class="fa fa-calendar"></i></span>
                                        <p><strong>Thời gian làm việc</strong><br>Thứ 2-6: Sáng 8.00–11.30, Chiều 13.30–16.30; Thứ 7: 8.00 –11.30; Chủ nhật: nghỉ</p>
                                    </li>
                                    <li class="col-md-12 col-xs-12">
                                        <span><i class="fa fa-envelope-o"></i></span>
                                        <p><strong>Email</strong><br>nuocmambaihai.phanthiet@gmail.com</p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="box-send-contact">
                            <h2>Gửi thắc mắc cho chúng tôi</h2>
                            <p>Nếu bạn có thắc mắc gì, có thể gửi yêu cầu cho chúng tôi, và chúng tôi sẽ liên lạc lại với bạn sớm nhất có thể .</p>
                            <div id="col-left contactFormWrapper">
                                <form accept-charset="UTF-8" action="/contact" class="contact-form" method="post">
                                    <input name="form_type" type="hidden" value="contact">
                                    <input name="utf8" type="hidden" value="✓">


                                    <div class="contact-form">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <div class="input-group">
                                                    <input required="" type="text" name="contact[name]" class="form-control" placeholder="Tên của bạn" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="input-group">
                                                    <input required="" type="text" name="contact[email]" class="form-control" placeholder="Email của bạn" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="input-group">
                                                    <input pattern="[0-9]{10,12}" required="" type="text" name="contact[phone]" class="form-control" placeholder="Số điện thoại của bạn" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-xs-12">
                                                @*<div class="input-group">
                                                        <textarea required="" name="contact[body]" placeholder="Nội dung"></textarea>
                                                        <div class="sitebox-recaptcha ">
                                                            This site is protected by reCAPTCHA and the Google
                                                            <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a>
                                                            and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="col-sm-12 col-xs-12">
                                                <button class="button dark">Gửi cho chúng tôi</button>
                                            </div>
                                        </div>
                                    </div>

                                    <input id="7532c1d77a244a118d53a10658b3b252" name="g-recaptcha-response" type="hidden" value="03AFcWeA6OJWVskNzvokQ7cP_zmyNujouGkGUkrzuSP38zAAGFN0VtQ201UJj8LIDm1Shqg3x0jt2UlCMxOUKNIn1xSo1Lai48bPK0lKNQYt3ju_shCqFTrqg_pn4rk9gsEErHhIUUsZn4CiFruP6nvRXGmjG13U6ZbvZPtxIsMXcy1GqZXcsI2nutMN1xUzLRWl979KCyC3uuD_xCVj3bjJsGvKMGoCEysb8yyjknQvIA9pEPDS8zEr8XwMIHA7R8bZ6E_b1xyBKipzzlwJ-nJew_rHdboqrhZuvxkDzqJId6P0o-IijYh3LYDp7UbnJXURKpxMkXaYiyLYo4zI6IcjqZe4CkEhHNdMWaEoWeY_oSYJhZwqYJWnk9yEQgWj-1aILgqJPUzFuIU2jRT2OP5A_UoeHXytwnLLbh3HQZiQ4pNnXpMye3NmmdXvzPzLKOLdSqtBaSOblqSQRxQfuSGxZ5ttutF3LRfZDBf2utPa1-pfl1ubHBI6bcEP_j6uLMxJ60_fQLXYMDG5DVRrQwQJ-DZ9NwGsFJwpM5-FhV16GgZFMG0blDFsY-zYj4tSxX9-vyCM7zAqqRAh3qhAGLYMGbu8o82WbmLqyWxA6xvpqj3_JMEDmRkEYAMc9VZcTtxSklSbpA6_geoLsoL1Lzw1fkjDVJuJ6OviFtcdD8WyTLcctVA_KQEi4cyZ6qxgQOAlGTk5JkFaFpjTEJCLalcHakSrlsYWYOVldCyBDtY0vS8ZTNSpakJ28">
                                    <script src="https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-"></script>
                                    <script>grecaptcha.ready(function () { grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', { action: 'submit' }).then(function (token) { document.getElementById('7532c1d77a244a118d53a10658b3b252').value = token; }); });</script>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 wrapbox-content-right">

                        <div class="box-map-contact">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d489.66279143102923!2d108.1370404!3d10.9405195!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31768366bd395497%3A0x1b9995a109827ba1!2zTsaw4bubYyBN4bqvbSBQaGFuIFRoaeG6v3QgQsOgIEhhaQ!5e0!3m2!1svi!2s!4v1712264698282!5m2!1svi!2s" width="790" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->
    <!-- Newsletter -->
    @Html.Action("Partial_Subcrice", "Home")
    <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                        <ul class="footer_nav">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_nav_container">
                        <div class="cr">©2024 All Rights Reserverd. Made with Đăng Duy <i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

</div>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}